<!-- Hereda desde base lo que tiene que ir en todas las views -->

{% extends 'base.html' %}

{% block titulo %}

    <title>Omnilegents Menú Principal</title>

{% endblock %}

{% load static %}

{% block contenido %}

<h2 style="color: blue;">Menú Principal Omnilegents</h2>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-12 col-xl-1">
        <div class="card" style="background-color: rgba(141, 181, 255, 0.986);">

            <img class="card-img-top" src="{% static 'app/img/smallbook.png' %}" alt="card-img-top" width="100px" height="120px"/>
            <a href="{% url 'libros' %}" class="btn btn-info" style="color: white;">Libros</a>

            <img class="card-img-top" src="{% static 'app/img/logros.png' %}" alt="card-img-top" width="100px" height="120px"/>
            <a href="{% url 'retosylogros' %}" class="btn btn-info" style="color: white;">Retos y Logros</a>

            <img class="card-img-top" src="{% static 'app/img/bell.png' %}" alt="card-img-top" width="100px" height="120px"/>
            <a href="{% url 'recordatorios' %}" class="btn btn-info" style="color: white;">Recordatorios</a>
        </div>
    </div>
</div>

    <nav id="home_navi">
            <a href="{% url 'mislibros'  %}" class="btn btn-info">Mis Libros</a>
            <a href="{% url 'lista_notas' %}" class="btn btn-info">Notas</a>
    </nav>

{% endblock %}