<!-- Hereda desde base lo que tiene que ir en todas las views -->

{% extends 'base.html' %}

{% block titulo %}

    <title>Omnilegents Menú Principal</title>

{% endblock %}

{% load static %}

{% block contenido %}

<h2 style="color: black; margin-top:20px; margin-bottom: 20px;">Menú Principal Omnilegents</h2>


<div class="row" " >
    <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <div class="card" style="background-color: #FAFAFA;">

            <img class="card-img-top" src="{% static 'app/img/smallbook.png' %}" alt="card-img-top" width="100px" height="120px"/>
            <a href="{% url 'libros' %}" class="btn btn-info" style="color: white; background-color: #0d1863;">Libros</a>

        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <div class="card" style="background-color: #FAFAFA;">

            
            <img class="card-img-top" src="{% static 'app/img/logros.png' %}" alt="card-img-top" width="100px" height="120px"/>
            <a href="{% url 'retosylogros' %}" class="btn btn-info" style="color: white; background-color: #0d1863;">Retos y Logros</a>

        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <div class="card" style="background-color: #FAFAFA;">
            <img class="card-img-top" src="{% static 'app/img/bell.png' %}" alt="card-img-top" width="100px" height="120px"/>
            <a href="{% url 'recordatorios' %}" class="btn btn-info" style="color: white; background-color: #0d1863;">Recordatorios</a>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <div class="card" style="background-color: #FAFAFA;">
            <img class="card-img-top" src="{% static 'app/img/bookshelf.png' %}" alt="card-img-top" width="100px" height="120px"/>
            <a href="{% url 'mislibros' %}" class="btn btn-info" style="color: white; background-color: #0d1863;">Mis Libros</a>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <div class="card" style="background-color: #FAFAFA;">
            <img class="card-img-top" src="{% static 'app/img/Notes.png' %}" alt="card-img-top" width="100px" height="120px"/>
            <a href="{% url 'lista_notas' %}" class="btn btn-info" style="color: white; background-color: #0d1863;">Notas</a>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <div class="card" style="background-color: #FAFAFA;">
            <img class="card-img-top" src="{% static 'app/img/Recomended.png' %}" alt="card-img-top" width="100px" height="120px"/>
            <a href="{% url 'recomendar_libros' %}" class="btn btn-info" style="color: white; background-color: #0d1863;">Libros Recomendados</a>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <div class="card" style="background-color: #FAFAFA;">
            <img class="card-img-top" src="{% static 'app/img/Reviews.png' %}" alt="card-img-top" width="100px" height="120px"/>
            <a href="{% url 'leer_reviews' %}" class="btn btn-info" style="color: white; background-color: #0d1863;">Reseñas</a>
        </div>
    </div>
    
</div>



{% endblock %}