<!-- Hereda desde base lo que tiene que ir en todas las views -->

{% extends 'base.html' %}

{% block titulo %}

    <title>Omnilegents Menú Principal</title>

{% endblock %}

{% load static %}

{% block contenido %}

<h2 style="color: white;">Menú Principal Omnilegents</h2>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-12 col-xl-1">
        <div class="card" style="background-color: rgba(141, 181, 255, 0.986);">

            <img class="card-img-top" src="{% static 'app/img/smallbook.png' %}" alt="card-img-top" width="100px" height="120px"/>
            <a href="{% url 'libros' %}" class="btn btn-block" style="color: white;">Libros</a>

        </div>
    </div>
</div>

    <nav id="home_navi">
        <li>
            <a href="{% url 'mislibros'  %}">Mis Libros</a>
        </li>
    </nav>

{% endblock %}