{% extends 'base.html' %}

{% block titulo %}

    <title>Omnilegents Libros</title>

{% endblock %}


{% block contenido %}

    <div class="container">

        <h1 style="color: black; margin-top:20px; margin-bottom: 20px;">Libros</h1>

        <form action="">
            <div class="mb-3">
                <label for="searchBook" class="form-label">
                    Buscar libros por Título o Código ISBN:
                </label>
                <input type="text" class="form-control" name="searchBook"/>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <p>Buscando por {{ libroBuscado }}</p>
        <br />

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for libro in libros %}
            <div v-for="libro in libros" class="col">
                <divc class="card" style="background-color: #ececed; margin-bottom:10px;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{ libro.titulo }}</h5>
                        </a>
                        <h6 class="card-info">Código ISBN: {{ libro.isbn }}</h6>
                        <h6 class="card-info">Calificación: {{ libro.calificacion_promedio }}</h6>

                        <form method="post" action="{% url 'agregarLibro' libro.bookID %}">
                            {% csrf_token %}
                            <input type="hidden" name="libro_id" value="{{ libro.bookID }}">
                            <button type="submit" class="btn btn-success">Agregar a mi Biblioteca</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
            </div>
            <br />
            <br />
        </div>

    </div>

{% endblock %}