{% extends 'base.html' %}

{% block titulo %}

    <title>Omnilegents Libros</title>

{% endblock %}


{% block contenido %}

    <div class="container">

        <h1 style="color: blue;">Libros</h1>

        <form action="">
            <div class="mb-3">
                <label for="searchBook" class="form-label">
                    Buscar libros por Título o Código ISBN:
                </label>
                <input type="text" class="form-control" name="searchBook"/>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <p>Buscando por {{ libroBuscado }}</p>
        <br />

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for libro in libros %}
            <div v-for="libro in libros" class="col">
                <divc class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{ libro.titulo }}</h5>
                        </a>
                        <h6 class="card-info">Código ISBN: {{ libro.isbn }}</h6>
                        <a href="{% url 'agregarLibro' %}" class="btn btn-success">Agregar a mi Biblioteca</a>
                    </div>
                </div>
            {% endfor %}
            </div>
            <br />
            <br />
        </div>

    </div>

{% endblock %}