{% extends 'base.html' %}

{% block titulo %}

    <title>Omnilegents Login</title>

{% endblock %}


{% block contenido %}

    <h1>Inicio de sesión</h1>

    <p>
        Ingresa tu usuario y tu contraseña:
    </p>

    <div class="inicio_sesion">
        <p>Usuario: <input type="text" name="user"/></p>
        <p>Contraseña: <input type="text" name="password"/></p>

        <button type="button" class="btn btn-primary">Ingresar</button>
    </div>

    <nav id="login_navi">
        <li>
            <a href="{% url 'registro' %}">Crea una cuenta</a>
        </li>
    </nav>

{% endblock %}