{% extends 'base.html' %}

{% block titulo %}

    <title>Mis Libros</title>

{% endblock %}


{% block contenido %}
    <div class="container">

        <h1 style="color: blue;">Mis Libros</h1>
        <p style="color: blue;">¡En esta sección encontrarás los libros que estás leyendo o que has leído!</p>

        {% if libros_usuario %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for libro in libros_usuario %}
                    <div v-for="libro in libros" class="col">
                        <div class="card" style="background-color: lightskyblue;">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">{{ libro.libro.titulo }}</h5>
                                </a>
                                <h6 class="card-info">Código ISBN: {{ libro.libro.isbn }}</h6>
                                </a>
                                
                                <h6 class="card-info">Paginas leidas: {{ libro.pagleidas }} de {{ libro.libro.num_pages }}</h6>
                                
                                <form method="post" action="{% url 'cambiarPagLeidas' libro.libuser_ID %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="libuser_id" value="{{ libro.libuser_ID }}">
                                    <button type="submit" class="btn btn-success">Lectura</button>
                                </form>
                                <li>
                                    {{ libro.titulo }} - {{ libro.autores }} - {{ libro.calificacion_promedio }}
                                    <span id="calificacion-{{ libro.pk }}">{{ libro.calificacion_promedio }}</span>
                                    <form method="POST" action="{% url 'calificar_libro' libro.pk %}">
                                        {% csrf_token %}
                                        <label for="calificacion{{ libro.pk }}">Calificación:</label>
                                        <input type="number" id="calificacion{{ libro.pk }}" name="calificacion" min="1" max="5" step="0.1" required>
                                        <button type="submit">Calificar</button>
                                    </form>
                                </li>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script>
                        $(document).ready(function() {
                        $('form').submit(function(event) {
                            event.preventDefault();
                            var form = $(this);
                            $.ajax({
                                type: form.attr('method'),
                                url: form.attr('action'),
                                data: form.serialize(),
                                success: function(response) {
                                    $('#calificacion-' + response.libro_pk).text(response.calificacion_promedio);
                                    form.trigger('reset');
                                    alert('Libro calificado correctamente.');
                                },
                                error: function(response) {
                                    alert('Error al calificar el libro.');
                                }
                            });
                        });
                        });
                        $(document).ready(function() {
                        $('form').submit(function(event) {
                            event.preventDefault();
                            var form = $(this);
                            console.log('Formulario enviado.');
                            $.ajax({
                                type: form.attr('method'),
                                url: form.attr('action'),
                                data: form.serialize(),
                                success: function(response) {
                                    console.log('Solicitud AJAX exitosa.');
                                    $('#calificacion-' + response.libro_pk).text(response.calificacion_promedio);
                                    form.trigger('reset');
                                    alert('Libro calificado correctamente.');
                                },
                            error: function(response) {
                                console.log('Error en la solicitud AJAX.');
                                alert('Error al calificar el libro.');
                            }
                            });
                        });
                    });
                </script> {% endcomment %}
            </div>
        {% else %}
            <h6 style="color: blue;">¡No tienes libros agregados!</h6>
        {% endif %}

    </div>

{% endblock %}