{% extends 'base.html' %}
{% load mathfilters %}

{% block titulo %}
    <title>Mis Libros</title>
{% endblock %}

{% block contenido %}
    <div class="container">
        <h1 style="color: black;">Mis Libros</h1>
        <p style="color: black;">¡En esta sección encontrarás los libros que estás leyendo o que has leído!</p>

        {% if libros_usuario %}
            <div class="row">
                {% for libro_usuario in libros_usuario %}
                    <div class="col-md-3 col-sm-6">
                        <div class="card" style="background-color: #ececed; margin-bottom:10px;">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">{{ libro_usuario.libro.titulo }}</h5>
                                <h6 class="card-info">Código ISBN: {{ libro_usuario.libro.isbn }}</h6>
                                <h6 class="card-info">Páginas leídas: {{ libro_usuario.pagleidas }} de {{ libro_usuario.libro.num_pages }}</h6>
                                <h6 class="card-info">Porcentaje leído: {{ libro_usuario.pagleidas|div:libro_usuario.libro.num_pages|mul:100|floatformat }}%</h6>
                                <h6 class="card-info">Calificación promedio: {{ libro_usuario.libro.calificacion_promedio|truncatechars:4 }}</h6>
                                <form method="POST" action="{% url 'cambiarPagLeidas' libro_usuario.libuser_ID %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="libuser_id" value="{{ libro_usuario.libuser_ID }}">
                                    <button type="submit" class="btn btn-success">Lectura</button>
                                </form>
                                <form method="POST" action="{% url 'calificar_libro' libro_usuario.libro.pk %}">
                                    {% csrf_token %}
                                    <label for="calificacion{{ libro_usuario.libro.pk }}">Calificación:</label>
                                    <input type="number" id="calificacion{{ libro_usuario.libro.pk }}" name="calificacion" min="1" max="5" step="0.1" required>
                                    <button type="submit">Calificar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <img src = "../static/GraficasMisLibros/Grafica.png"/>
        {% else %}
            <h6 style="color: blue;">¡No tienes libros agregados!</h6>
            
        {% endif %}
        
    </div>
{% endblock %}
