{% extends 'base.html' %}

{% block titulo %}

    <title>Omnilegents Registro</title>

{% endblock %}


{% block contenido %}

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h2>Regístrate Gratis</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/registrarUsuario/" method="POST">    {% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="numId_Usuario" name="numIdUsuario" class="form-control" placeholder="ID Usuario" minlength="1" maxlength="3" required>
                        </div>

                        <div class="form-group">
                            <input type="text" id="txtNombreUs" name="txtNombreUs" class="form-control" placeholder="Nombre" minlength="3" maxlength="50" required>
                        </div>

                        <div class="form-group">
                            <input type="text" id="txtCorreoUs" name="txtCorreoUs" class="form-control" placeholder="Correo" minlength="10" maxlength="50" required>
                        </div>

                        <div class="form-group">
                            <input type="text" id="txtPassword" name="txtPassword" class="form-control" placeholder="Contraseña" minlength="6" maxlength="20" required>
                        </div>

                        <div class="form-group">
                            <input type="text" id="txtDomicilio" name="txtDomicilio" class="form-control" placeholder="Domicilio" minlength="10" maxlength="50">
                        </div>

                        <div class="form-group">
                            <input type="date" id="dateNacimiento" name="dateNacimiento" class="form-control" placeholder="Fecha de Nacimiento" minlength="8" maxlength="8" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block text-white">Crear Usuario</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}