<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omnilegents Registro</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">

</head>
<body>

    <header id="header">

        <div class="contenedor_logo">
            <img class="logo" src="{% static 'app/img/loguito.png' %}" alt="logo">   
        </div>

    </header>

    <div class="registrador">
        <p>Nombre: </p>
        <input type="text" name="nombre_registro"/> 

        <p>Correo: </p>
        <input type="text" name="correo_registro"/> 

        <p>Contraseña: </p>
        <input type="text" name="contraseña_registro"/> 
    </div>
    
</body>
</html>